[Desktop Entry]
Name=Austiblox
Exec=env SHELL=${SHELL:-/bin/sh} $SHELL -c '~/austiblox-launcher.sh %u'
Type=Application
Terminal=true
MimeType=x-scheme-handler/austiblox;
